/* centerapp */
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #FDFDC9;
  font-family: Arial, sans-serif;
}

/* card container */
.card {
  background: #C59EDC;
  padding: 20px;
  border-radius: 10px;
  width: 440px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}


/* inputgroup */
.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input-group input {
   color: rgb(42, 39, 39);
  flex: 1;
  padding: 10px;
  border: 1px solid white;
  background: #ded7e2;
  border-radius: 5px;
   
 
}

.input-group input::placeholder {
  color: rgb(70, 57, 57);
  opacity: 1; 
}

.task span {
  color: rgb(70, 57, 57);
}
.input-group button {
  padding: 10px 15px;
  border: none;
  background: #9434cb;
  color: white;
  border-radius: 5px;
  cursor: pointer;
   
}

/* list */
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* Done  */
.done {
  text-decoration: line-through;
  color: white;
}

/* Buton */
.buttons button {
  margin-left: 5px;
  padding: 5px 10px;    
  border: none;
  border-radius: 5px;
  cursor: pointer;
 background: none;
  color: inherit;
  font-size: 16px; 
}

.buttons button:nth-child(1) {
 
  color: white;
}


 
.buttons button:nth-child(2) {
 
  color: white;
} 

.buttons button:nth-child(3) {
 
  color: white  ;
}

/* empty text */
.empty {
  text-align: center;
  color: white;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  position: relative;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #888;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}